@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
.grid > div {
  grid-rows: var(--r);
  grid-column: var(--c);
}
.end {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}
